
<div class="container">
  <h1>Today is <%= Date.today.strftime("%A, %b %d") %></h1>

  <ul>
    <% %w(middleman javascript html css).each do |tech| %>
      <li>Je joue avec <%= tech %></li>
    <% end %>
  </ul>
</div>
